

.copyright {
    
    padding: 4rem 9%;
    margin-top: 8rem;
    /* margin-top: 5rem; */
    /* padding: 3rem; */
    text-align: center;
    justify-content: space-between;
    background-color: gray;
}

.copyright i {
    font-size: 2rem;
    /* color: rgb(254, 254, 57); */
    /* background: crimson; */
    border-radius: 2rem;
} 
 
.social {
    padding: 2rem;
}
/* .copyright i:hover { */
.social i:hover {
     transition: 0.5s ease;
    transform: translateY(-2rem);
    color: #fff;
    cursor: pointer; 
} 
.copyright p {
    letter-spacing: .1rem;
    font-size: 1.5rem;
    color: #fff;
}
